@{
    ViewData["Title"] = "Caras";
}
<div id="appVue" v-cloak>
    <h1>Caras</h1>

    <p>
        <a asp-action="Create" class="btn btn-success">Crear nuevo</a>
    </p>

    <table class="table table-bordered table-hover table-striped align-middle">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Característica</th>
                <th>Ataque</th>
                <th>Tipo</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="cara in caras" :key="cara.id">
                <td>{{ cara.id }}</td>
                <td>{{ cara.nombre }}</td>
                <td>{{ cara.caracteristica }}</td>
                <td>{{ cara.ataque }}</td>
                <td>
                    <span v-if="cara.tipo == 1">Rango</span>
                    <span v-else>Mele</span>
                </td>
                <td>
                    <img v-if="cara.imagen" :src="obtenerImagen(cara.imagen)" width="32" />
                    <span v-else>Sin foto</span>
                </td>
                <td>
                    <a :href="`/Cara/Edit/${cara.id}`" title="Editar">Editar</a>&nbsp;
                    <a :href="`/Cara/Eliminar/${cara.id}`" title="Eliminar">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    new Vue({
        el: '#appVue',
        data: {
            caras: []
        },
        methods: {
            async cargarCaras() {
                const response = await fetch('/Cara/ObtenerTodas');
                this.caras = await response.json();
            },
            obtenerImagen(imagen) {
                return imagen + '?' + Math.floor(Math.random() * 100000);
            }
        },
        mounted() {
			console.log("Vue montado");
            this.cargarCaras();
        }
    });
</script>
}
